html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.products-word-wrap-break-name {
    max-width: 100px;
    word-wrap: break-word;
}

.products-word-wrap-break-description {
    max-width: 500px;
    word-wrap: break-word;
}

body {
    font-family: Arial, sans-serif;
    margin-bottom: 60px;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #f0f0f0;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 0 0 20px 20px;
}

.carousel {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    width: 100%;
    border-radius: 20px;
    height: 700px; /* Altura fixa para o carrossel */
    object-fit: cover; /* Preenche o contêiner do carrossel */
}

.carousel-slide.active {
    display: block;
}

.content {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
    margin-top: 20px;
}